*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(104, 164, 216);
}
main{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./images/IMG-20230902-WA001000.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}